$primary: #bf8824;
$primary2: #f27405;
$secondary: #545759;
// $iconcolor: #7008e7;
$background: #fbf6ec;
$hover-primary: #ead4a6;
// $accent: #98e2ee;
$error: #f33c31;
$warning: #F2B705;
$success: #50c169;
$white: #ffffff;
// $gray: #aeaeae;
// $gray1: #333333;
// $gray2: #4f4f4f;
// $gray3: #828282;
// $gray4: #bdbdbd;
// $gray5: #e0e0e0;
// $gray6: #f2f2f2;
// $slate: #074472;
// $indigo: #0e0e2c;
$text: #090b0d;
$subtitle: #8c8c8c;
$black-fade-20-color: #00000080;
$disabled: #f2f2f2;
