// @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less';

@primary-color: #08979c; // change antd primary-color
@link-color: #08979c; // link color
@success-color: #00A041; // success state color
@warning-color: #F2B705; // warning state color
@error-color: #F5222D; // error state color
@font-size-base: 16px; // major text font size
@heading-color: #090b0d; // heading text color
@text-color: #090b0d; // major text color
@text-color-secondary: rgb(9, 11, 13, 0.45); // secondary text color
@disabled-color: rgba(9, 11, 13, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color